* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    background: #eee;
    font-family: ubuntu, helvetica, arial;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    position: relative;
}
.swiper1,.swiper2,.swiper3 { 
    background: url(../images/show_bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.swiper1 .header { 
    width: 70vw;
    height: 23vw;
    margin: 0 auto;
    margin-top: 50vw;
    background: url(../images/self_resume.png) no-repeat;
    background-size: 100% 100%;
}
.swiper1 .head { 
    width: 35vw;
    height: 35vw;
    margin: 10vw auto;
}

.swiper1 .head img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.swiper1 .chalk {
    position: absolute;
    z-index: 5; 
    bottom: 3vh; 
    right: 4vw;
}

.swiper2 .info_header {
    margin-top: 30vw;
    text-align: center;
}

.swiper2 .info_header .hr,.swiper3 .tech_header .hr {
    width: 25vw;
    height: 1px;
    background: #fff;
    margin: 3vw auto;
}

.swiper2 .info_body {
    margin-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 20vw;
    line-height: 10vw;
}

.swiper2 .info_footer {
    width: 40vw;
    height: 17vw;
    margin: 0 auto;
}

.swiper2 .info_footer img {
    width: 100%;
    height: 100%;
}

.swiper3 .tech_header {
    margin-top: 30vw;
    margin-bottom: 10vw;
    text-align: center;
}

.swiper3 .tech_body {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10vw;
}


.swiper3 #enter {
    display: block;
    width: 30vw;
    height: 16vw;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    line-height: 16vw;
    font-size: 18px;
    margin: 0 auto;
    background: #007aff;
    border: none;
    outline: none;
}

div#music { position: fixed; z-index: 5; top: 3vh; right: 4vw; width: 15vw; height: 15vw; border: 4px solid #ef1639; border-radius: 50%; background: #fff; }
div#music > img.music_pointer { position: absolute; top: 24%; right: 2.5%; width: 28.421%; }
div#music > img.music_disc    { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 79%; margin: auto;}
div#music > img.music_play {
    -webkit-animation: music_disc 4s linear infinite;
    -o-animation: music_disc 4s linear infinite;
        animation: music_disc 4s linear infinite;
}
@-webkit-keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}